<h1>Food awaiting their ultimate destiny to be devoured!</h1>
<ul>
  {{!-- iterate through table --}}
  {{#each devour}}
    {{!-- devoured is false then proceed--}}
    {{#unless devoured}} 
      {{!-- implements code in devour-block.handlebars --}}
      {{!-- canEat must be opposite of devoured --}}
      {{> devour/devour-block canEat=1}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Food that has been devoured!</h2>

<ul>
  {{#each devour}}
    {{!-- devoured is true then proceed --}}
    {{#if devoured}}
      {{> devour/devour-block canEat=0}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Food to be Devoured</h2>
<form class="create-form">

  <div class="form-group">
    <label for="food">Food Name:</label>
    <input type="text" id="food" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Has it been devoured yet?</label>
    <br>
    <input type="radio" name="devoured" value="1" checked> Devoured!
    <br>
    <input type="radio" name="devoured" value="0"> Still available!
  </div>

  <button type="submit">Add Food!</button>
</form>