<li class="items m-3 text-center p-5">
	<h6 id="foodItem">{{food}}</h6>
	<br>
	<button class="devour btn-danger btn" data-id="{{id}}" data-devour={{canEat}}>
		{{#if canEat}}DEVOUR IT!
			{{else}}Buy More!
		{{/if}}
	</button>
</li>