<li class="items m-4 text-center">
	<h3>{{food}}</h3>

	<button class="devour btn-danger btn" data-id="{{id}}" data-devour={{canEat}}>
		{{#if canEat}}DEVOUR IT!
			{{else}}Buy More!
		{{/if}}
	</button>
</li>